<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929880995383-d4neriadnchpgkd07kp5leg8ck4136gh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929880995383-d4neriadnchpgkd07kp5leg8ck4136gh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>929880995383-n0516licnlac1mh9ejbfpg50qfgq3i6s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyChF8qlXm1HpNFo0RVPTtJm6mF0ZBooanc</string>
	<key>GCM_SENDER_ID</key>
	<string>929880995383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.betchaproject</string>
	<key>PROJECT_ID</key>
	<string>betcha-test</string>
	<key>STORAGE_BUCKET</key>
	<string>betcha-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929880995383:ios:1bce211aa24b03f02231b2</string>
</dict>
</plist>