rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notifications/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /users/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth.uid == resource.data.uid;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    match /users/{parent}/friendShips/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth.uid == get(/databases/$(database)/documents/users/$(parent)).data.uid;
      allow delete: if request.auth.uid == get(/databases/$(database)/documents/users/$(parent)).data.uid;
    }

    match /{path=**}/friendShips/{document} {
      allow read: if true;
    }


    match /friendRequests/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /games/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /wagers/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /matches/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /chat_messages/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
      allow delete: if resource.data.user == /databases/$(database)/documents/users/$(request.auth.uid);
    }

    match /chats/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if /databases/$(database)/documents/users/$(request.auth.uid) in resource.data.users;
      allow delete: if /databases/$(database)/documents/users/$(request.auth.uid) in resource.data.users;
    }
  }
}
